<!doctype html>
<html>
  <head>
    <title>OKR Club</title>

    <link rel="stylesheet" href="/css/tachyons.3.0.0.min.css" />

    <meta name='csrf-token' content='<%= session[:csrf] %>'>

    <style>
      button {
        border: 0;
      }

      img {
        display: block;
      }

      ul.sentence {
        padding: 0;
        text-align: left;
        display: inline;
        list-style: none;
      }

      ul.sentence li {
        display: inline;
      }

      ul.sentence li:after {
        content: ", ";
      }

      ul.sentence li:last-child:after {
        content: ".";
      }

      ul.sentence li:nth-last-child(2):after {
        content: " & ";
      }

      /* Based on http://mrmrs.io/links/ */
      a, a:link, a:visited {
        transition: color .4s;
        color: #265C83;
        cursor: pointer;
      }

      a:hover {
        color: #7FDBFF;
      }

      a:active {
        transition: color .3s;
        color: #007BE6;
      }
    </style>
  </head>
  <body class="sans-serif">
    <div class="pal mw8">
      <div class="mbl">
        <div class="small fr book">
          <% if @user %>
            <a href="/logout">Logout</a>
          <% else %>
            <a href="/login">Login</a> <br /> <a href="/signup">Signup</a>
          <% end %>
        </div>

        <h1 class="mvn">OKR.club</h1>
        <h2 class="mvs ttu book small">Objectify yourself.</h2>
      </div>

      <% if flash.has?(:error) or flash.has?(:success) %>
        <div id="flash">
          <% if flash.has?(:error) %>
            <h4 class="pas mvs error book bg-light-red"><%= flash[:error] %>
            <% end %>

            <% if flash.has?(:success) %>
              <h4 class="pas mvs success book bg-light-green"><%= flash[:success] %>
              <% end %>

              <span class="h1 fr bold" style="cursor: pointer;" id="removeFlash">X</span>
            </h4>
          </div>
        <% end %>

        <div class="content">
          <%= yield %>
        </div>
      </div>

      <script src="/js/app.js"></script>
    </body>
  </html>
