<!doctype html>
<html>
  <head>
    <title>OKR Club</title>

    <link rel="stylesheet" href="/css/tachyons.3.0.0.min.css" />
  </head>
  <body>
    <% if flash.has?(:error) %>
      <h3 class="error"><%= flash[:error] %></h3>
    <% end %>

    <% if flash.has?(:success) %>
      <h3 class="success"><%= flash[:success] %></h3>
    <% end %>

    <%= yield %>
  </body>
</html>
